<div id="footer">
  <a href="{{ '/index.html' | relative_url }}" class="store-menu">
    <div id="logo_footer">
      <img
        class="logo_footer"
        src="/PfSite_20250916/storage/materials/20250515_165603_logo_white.png"
        alt="PGCロゴ（白）"
      />
    </div>
  </a>

  <div class="menu_footer_base">
    <div class="menu_footer">
      <a href="gallery.html">gallery</a>
    </div>
    <!-- <div class="menu_footer">
        <a href="/all/exhibition">exhibition</a>
      </div> -->
    <div class="menu_footer">
      <a href="./new_post">store</a>
    </div>
    <div class="menu_footer">
      <a href="./new_post">cart</a>
    </div>
  </div>

  <div class="menu_footer_base">
    <a
      class="logo_sns_base"
      href="https://www.instagram.com/tomo_0404tom?igsh=MTFrNjlwMHpuNHlqZw%3D%3D&utm_source=qr"
    >
      <img
        class="logo_sns"
        src="/PfSite_20250916/storage/materials/20250516_170454_Instagram_Glyph_Black.png"
        alt="Instagram ロゴ"
      />
    </a>
    <div class="logo_x_base">
      <img
        class="logo_sns"
        src="/PfSite_20250916/storage/materials/20250515_162753_logo-black.png"
        alt="X ロゴ"
      />
    </div>
  </div>
</div>
