<!-- _includes/header.html -->
<div id="header">
  <div class="header_logo_base">
    <img
      class="header_logo"
      src="/PfSite_20250916/storage/materials/20250515_165557_logo_black.png"
      alt="PGCロゴ"
    />
  </div>
</div>

<!-- ハンバーガー -->
<div class="hamburger-group">
  <!-- カートアイコン -->
  <a
    class="hamburger-store-cart_logo"
    href="{{ '/store.html'    | relative_url }}"
    ><img class="cart-icon" src="/PfSite_20250916/storage/images/store.png"
  /></a>
  <!-- ハンバーガー -->
  <button
    class="store-hamburger"
    aria-expanded="false"
    aria-controls="store-global-nav"
    aria-label="メニューを開閉"
  >
    <span class="store-hamburger_line" aria-hidden="true"></span>
    <span class="store-hamburger_line" aria-hidden="true"></span>
    <span class="store-hamburger_line" aria-hidden="true"></span>
  </button>
</div>

<!-- ナビ（初期はhidden） -->
<nav id="store-global-nav" class="home-nav" hidden>
  <a href="{{ '/index.html' | relative_url }}" class="store-menu">top</a>
  <a href="{{ '/gallery.html'  | relative_url }}" class="store-menu">gallery</a>
  <a href="{{ '/store.html'    | relative_url }}" class="store-menu">store</a>
  <a href="{{ '/login.html'    | relative_url }}" class="store-menu">login</a>
  <a href="{{ '/register.html' | relative_url }}" class="store-menu"
    >新規登録</a
  >
</nav>
